.container {
  margin-left: 25px;
  position: relative;
  clip-path: polygon(10% 35%, 90% 35%, 100% 50%, 90% 65%, 10% 65%, 0% 50%);
  height: 200px;
  width: 500px;
  background-color: #299cce;
  color: #299cce;
  font-size: 100px;
}

.box {
  position: absolute;
  top: 5px;
  left: 5px;
  clip-path: polygon(10% 35%, 90% 35%, 100% 50%, 90% 65%, 10% 65%, 0% 50%);
  height: 190px;
  width: 490px;
  background-color: #131432;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: large !important;

  & _content {
    height: 200px;
    width: 500px;
    color: #299cce;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #ffd600;
    color: black;
    z-index: -1;
  }
  .valid {
    &::after {
      height: 100%;
    }
  }
}
