<div class="container">
  <section>
    <qpuc-hexagon [active]="$counter.currentPoint()">4</qpuc-hexagon>
    <qpuc-hexagon [active]="$counter.currentPoint()">3</qpuc-hexagon>
    <qpuc-hexagon [active]="$counter.currentPoint()">2</qpuc-hexagon>
    <qpuc-hexagon [active]="$counter.currentPoint()">1</qpuc-hexagon>
  </section>
  <div class="box">
    <qpuc-player-card [user]="player">
      <div class="box box-center">

        @if (!isStart()) {
          <button mat-raised-button
                  color="primary"
                  [ngStyle]="isStart()?{visibility:'hidden'}:{}"
                  (click)="isStart.set(true)"
          >COMMENCER
          </button>
        } @else {
          <button mat-raised-button
                  color="primary"
                  [visibility]="isStart()&&isEnd$()&&numberPlayer()<2"
                  (click)="next()"
          >PROCHAIN JOUEUR
          </button>
        }

        <div style="margin-top: 1rem">
          <button mat-raised-button
                  color="warn"
                  [visibility]="!$counter.isEnd()&&(isStart()||isEnd$())"
                  (click)="reset()"
          >FAUX
          </button>
          <button mat-raised-button
                  style=" margin-left: 3rem"
                  color="accent"
                  [visibility]="!$counter.isEnd()&&(isStart()||isEnd$())"
                  (click)="increment()"
          >VRAI
          </button>
        </div>
      </div>
    </qpuc-player-card>
  </div>
</div>

