.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.player_box {
  display: flex;
  justify-self: stretch;

  &-buzzer {
    width: 150%;
    border-radius: 10px 10px 0 0;
    margin-top: 4rem;
    height: 4rem;
  }

  &-middle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  &-btn {
    display: flex;
    justify-content: center;

  }
}

.rectangle {
  z-index: 3;
}
