<div class="container">
  <section class="player_box-left">
    <qpuc-player-card
      [user]="players[0]"
      [user2]="players[2]"
      [score]="$winLooseService.pointCounterPlayerOne"
    >

      <qpuc-btn-take-leave
        class="player_box-btn"
        [visibility]="$turnPlayer.isTurnPlayerOne() && !choiceBeetweenTakeLeave()&&!$turnPlayer.isEnd"
        (choice)="choiceBeetweenTakeLeave.set(true);isStarted.set(false)"
        [left]="true"></qpuc-btn-take-leave>

    </qpuc-player-card>
  </section>
  <section class="player_box-middle">

    <button class="player_box-buzzer"
            mat-raised-button
            color="warn"
            [visibility]="isStarted() != undefined && !viewButtonWinLoose()"
            (click)="startOrStop()"
    >{{ buttonName() }}
    </button>
    <div
      [style]="{'margin-top':'8rem'}"
      [visibility]=" !isStarted()&& viewButtonWinLoose()">
      <button
        mat-raised-button
        [style]="{'margin':'0 2rem'}"
        color="primary"
        (click)=" win() "
      >Gagner
      </button>
      <span>{{ $countDown.currentIndex + 1 }}</span>
      <button
        mat-raised-button
        [style]="{'margin':'0 2rem'}"
        color="primary"
        (click)="loose()"
      >Perdu
      </button>
    </div>

    @for (data of [1, 2, 3, 4]; track $index) {
      <qpuc-rectangle #rectangle
                      [@translate]="$animation._takeOrLeave[$index]() == undefined ? 'middle'
                      : $animation._takeOrLeave[$index]() ? 'left'
                        : 'right'"
                      class="rectangle" [class]="'rectangle'+$index"
                      (next)="pursuit()">
        {{ data }}
      </qpuc-rectangle>
    }
    <button class="player_box-buzzer"
            mat-raised-button
            color="primary"
            [visibility]="$turnPlayer.isEnd"
            (click)="handlePresents()"
    >"Cadeau"
    </button>
  </section>
  <section class="player_box-right">
    <qpuc-player-card
      [user]="players[1]"
      [user2]="players[3]"
      [score]="$winLooseService.pointCounterPlayerTwo"
    >
        <qpuc-btn-take-leave
          class="player_box-btn"
          [visibility]="$turnPlayer.isTurnPlayerTwo() && !choiceBeetweenTakeLeave()&&!$turnPlayer.isEnd"
          (choice)="choiceBeetweenTakeLeave.set(true);isStarted.set(false)"
          [right]="true">
        </qpuc-btn-take-leave>
    </qpuc-player-card>
  </section>

</div>
